[submodule ".dircolors-solarized"]
	path = .dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule ".dircolors-zenburn"]
	path = .dircolors-zenburn
	url = https://github.com/ivoarch/dircolors-zenburn.git
[submodule ".oh-my-zsh"]
	path = .oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".gitignore_template"]
	path = .gitignore_template
	url = https://github.com/github/gitignore.git
[submodule ".vim_source"]
	path = .vim_source
	url = https://github.com/vim/vim.git
[submodule ".vim/bundle/Vundle.vim"]
	path = .vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
